<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("partials/header.ejs") %>
</head>
<body>
    
    <h1>Quote Finder</h1>
    <p>Find your quotes by either a keyword in the quote or the name of the author</p>

    <form id="searchByKeywordForm" action="/searchByKeyword" method="GET">
        Keyword: <input type="text" name="keyword">
        <button>Search by keyword</button>
    </form>
    <h2 id="answer"></h2>

    <form action="/searchByAuthor" method="GET">
        Author: <input type="text" name="author">
        <button>Search by author</button>
    </form>

    <form action="/searchByCategory" method="GET">
        Category: <input type="text" name="category">
        <button>Search by category</button>
    </form>

    <form action="/searchByLikes" method="GET">
        Likes: <input type="number" name="likeStart">
         to <input type="number" name="likeEnd">
        <button>Search by likes</button>
    </form>

    <script>
        document.querySelector("#searchByKeywordForm").addEventListener("submit", validateKeywordForm);

        // ensures that keyword has at least 3 characters
        function validateKeywordForm() {

            let keyword = document.querySelector("input[name=keyword]").value;
            if(keyword.length < 3){
                // alert("keyword must be at least 3 characters");
                document.querySelector("#answer").textContent = "Keyword must use at least 3 characters";
                document.querySelector("#answer").style.color = "red";
                event.preventDefault(); // prevents the form submission
            }
        }
    </script>

    <%- include("partials/footer.ejs") %>
</body>

</html>